* {
  box-sizing: border-box;
}
body {
  background-image: url(../images/background.png);
  background-repeat: repeat;
  margin: 0 auto;
  text-decoration-line: none;
}

li,
nav  {
  border-bottom: 1px solid rgb(235, 231, 231);
}
.box-spacer {
  background-color: white;
  width: 12%;
  padding: 20px;
  float: left;
  border-bottom: 1px solid rgb(235, 231, 231);
}
.active {
  background-color: rgb(50, 200, 202);
  color: white;
  font-size: 24px;
  padding: 20px;
  width: 18%;
  text-align: center;
  float: left;
  
}
.nav-spacer {
  background-color: white;
  border-bottom: 1px soli rgb(235, 231, 231);
  padding: 20px;
  width: 35%;
  float: left;
  
}
.about,
.portfolio,
.contact { 
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: 14px;
  padding: 20px;
  text-align: right;
  color: gray;
  width:28%;
}
/*.spacer-end {
  background-color: white;
  width: 25%;
  padding: 28px;
  float: right;
  border-bottom: 1px solid rgb(235, 231, 231);
}*/
li a:hover {
  background-color: rgb(206, 214, 214);
}

li {
    background-color: white;
    list-style-type:none;
    padding: 20px;
    display:inline;
    color:black;
    border-style: ridge;
    border-color: rgb(235, 231, 231);
    
    }
    a {
      text-decoration: none;
      
    }

  #about_me {
    background-color: white;
    padding: 2.5%;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 150px;
    width: 960px;
    height: 480px;
    clear: both;
    overflow: auto;
    border: 1px solid rgb(235, 231, 231);
  }

   h1 {
    font-size: 24px;
    float: left;
    padding-bottom: 1%;
  }
  img  {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 180px;
  }
  p {
    line-height: 195%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
  }
  footer {
    background-color: rgb(87, 85, 85);
    padding: 25px;
    clear: both;
    overflow: auto;
    padding-bottom: 3px;
    font-size: 8px;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    position: sticky; 
  }
